<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pagerduty MVP</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
    <h1>Dishes App</h1>
    
    <div class="add-delete">
        <form id="check-dish-form" name="check-dish-form">
            <select name="ingredients" id="ingredients" multiple>
                <option value="Flour">Flour</option>
                <option value="Sugar">Sugar</option>
                <option value="Eggs">Eggs</option>
                <option value="Salt">Salt</option>
                <option value="Milk">Milk</option>
            </select>
            <button type="button" onclick=checkDish()>Check</button>
        </form>
        <form id="add-dish-form" name="add-dish-form">
            <input type="text" placeholder="name" name="dish_name" id="dish_name">
            <select name="ingredients" id="ingredients" multiple>
                <option value="Flour">Flour</option>
                <option value="Sugar">Sugar</option>
                <option value="Eggs">Eggs</option>
                <option value="Salt">Salt</option>
                <option value="Milk">Milk</option>
            </select>
            <button type="button" onclick=addDish()>Add</button>
        </form>
        <form id="delete-dish-form" name="delete-dish-form">
            <input type="text" placeholder="dish id" name="dish_id" id="dish_id">
            <button type="button" onclick=deleteDish()>Delete</button>
        </form>
    </div>

    <div class="tables">
        <table class="dishes">
            <td style="border-top: 0px; font-weight: 600;">Dish ID</td>
            <td style="border-top: 0px; font-weight: 600;">Name</td>
            <td style="border-top: 0px; font-weight: 600;">Ingredients</td>
            <% dishes.forEach((dish) => {%>
                <tr class="dish">
                    <td>
                        <%= dish.dish_id %>
                    </td>
                    <td>
                        <%= dish.name %>
                    </td>
                    <td>
                        <%= dish.ingredients.ingredients %>
                    </td>
                </tr>
            <% }) %>
        </table>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>